<a href="https://colab.research.google.com/github/rawiwanjwk/my-projects/blob/main/Pokemon_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **API**

In [72]:
import requests
import pandas as pd

pokemon = []

for i in range(5):
    url = f" https://pokeapi.co/api/v2/pokemon/{i+5}"
    response = requests.get(url)
    data = response.json()
    poke_name = data["name"]
    poke_weight = data["weight"]
    poke_height = data["height"]
    poke_type = data["types"][0]["type"]["name"]
    poke_ability = data["abilities"][0]["ability"]["name"], data["abilities"][1]["ability"]["name"]
    pokemon.append({
        "Name": poke_name,
        "Weight": poke_weight,
        "Height": poke_height,
        "Type": poke_type,
        "Abilities": poke_ability
    })

print(pd.DataFrame(pokemon))

         Name  Weight  Height   Type             Abilities
0  charmeleon     190      11   fire  (blaze, solar-power)
1   charizard     905      17   fire  (blaze, solar-power)
2    squirtle      90       5  water  (torrent, rain-dish)
3   wartortle     225      10  water  (torrent, rain-dish)
4   blastoise     855      16  water  (torrent, rain-dish)