<a href="https://colab.research.google.com/github/rawiwanjwk/my-projects/blob/main/Python_FunGames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Hammer Scissors Paper Game**

In [ ]:
import random
def hands_game():
    print("Hello Player!")
    player_score = 0
    bot_score = 0
    round = 0
    hands = ["hammer", "scissors", "paper"]
    player_name = input("What's your name?: ").upper()
    print(f"Welcome to Hands game {player_name}!")
    print("Rule: write the hand you choose 'hammer','scissors','paper' or 'stop'")
    while True:
        player_hand = input("Choose your hand or `stop`: ").lower()
        bot_hand = random.choice(hands)
        if player_hand == "stop":
            print(f"total round: {round}")
            print(f"{player_name} score: {player_score}")
            print(f"Bot score: {bot_score}")

            if player_score > bot_score:
                print("You Win!")
            elif player_score < bot_score:
                print("You Lose!")
            else:
                print("Even Score!")
            break
        elif player_hand not in hands or not "stop":
            print("Invalid Value, Please try again!")
            continue


        ## player win
        if (player_hand == "hammer" and bot_hand == "scissors") or (player_hand == "scissors" and bot_hand == "paper") or (player_hand == "paper" and bot_hand == "hammer"):
            print(f"Bot_hand: {bot_hand}")
            player_score += 1
            bot_score += 0
            round += 1
            print(f"Round: {round} Player WIN!")
            print(f"Player Score: {player_score}")
            print(f"Bot Score: {bot_score}")
        ## even
        elif player_hand == bot_hand:
            print(f"Bot_hand: {bot_hand}")
            player_score += 0
            bot_score += 0
            round += 1
            print(f"Round: {round} BOTH EVEN!")
            print(f"Player Score: {player_score}")
            print(f"Bot Score: {bot_score}")
        ## player lose
        elif (player_hand == "scissors" and bot_hand == "hammer") or (player_hand == "paper" and bot_hand == "scissors") or (player_hand == "hammer" and bot_hand == "paper"):
            print(f"Bot_hand: {bot_hand}")
            player_score += 0
            bot_score += 1
            round += 1
            print(f"Round: {round} Player LOSE!")
            print(f"Player Score: {player_score}")
            print(f"Bot Score: {bot_score}")

## **Result**

In [ ]:
hands_game()

Hello Player!
What's your name?: a
Welcome to Hands game A!
Rule: write the hand you choose 'hammer','scissors','paper' or 'stop'
Choose your hand or `stop`: hammer
Bot_hand: hammer
Round: 1 BOTH EVEN!
Player Score: 0
Bot Score: 0
Choose your hand or `stop`: 1
Invalid Value, Please try again!
Choose your hand or `stop`: paper
Bot_hand: hammer
Round: 2 Player WIN!
Player Score: 1
Bot Score: 0
Choose your hand or `stop`: scissors
Bot_hand: scissors
Round: 3 BOTH EVEN!
Player Score: 1
Bot Score: 0
Choose your hand or `stop`: paper
Bot_hand: hammer
Round: 4 Player WIN!
Player Score: 2
Bot Score: 0
Choose your hand or `stop`: paper
Bot_hand: paper
Round: 5 BOTH EVEN!
Player Score: 2
Bot Score: 0
Choose your hand or `stop`: hammer
Bot_hand: paper
Round: 6 Player LOSE!
Player Score: 2
Bot Score: 1
Choose your hand or `stop`: paper
Bot_hand: scissors
Round: 7 Player LOSE!
Player Score: 2
Bot Score: 2
Choose your hand or `stop`: scissors
Bot_hand: paper
Round: 8 Player WIN!
Player Score: 3
Bot Score: 2
Choose your hand or `stop`: hammer
Bot_hand: paper
Round: 9 Player LOSE!
Player Score: 3
Bot Score: 3
Choose your hand or `stop`: paper
Bot_hand: scissors
Round: 10 Player LOSE!
Player Score: 3
Bot Score: 4
Choose your hand or `stop`: paper
Bot_hand: hammer
Round: 11 Player WIN!
Player Score: 4
Bot Score: 4
Choose your hand or `stop`: hammer
Bot_hand: hammer
Round: 12 BOTH EVEN!
Player Score: 4
Bot Score: 4
Choose your hand or `stop`: paper
Bot_hand: hammer
Round: 13 Player WIN!
Player Score: 5
Bot Score: 4
Choose your hand or `stop`: scissors
Bot_hand: hammer
Round: 14 Player LOSE!
Player Score: 5
Bot Score: 5
Choose your hand or `stop`: hammer
Bot_hand: hammer
Round: 15 BOTH EVEN!
Player Score: 5
Bot Score: 5
Choose your hand or `stop`: stop
total round: 15
A score: 5
Bot score: 5
Even Score!

# **Pizza Restaurant**

In [31]:
# create pizza menu dict
import pandas as pd
import numpy as np

pizza_menu = [
    {"id": 1,
    "category": "Pizza",
    "name": "Hawaiian pizza",
    "size&price":{"M": 200,
                  "L": 300,
                  "XL": 450}},
    {"id": 2,
    "category": "Pizza",
    "name": "Double cheese pizza",
    "size&price": {"M": 200,
                  "L": 300,
                  "XL": 400}},
    {"id": 3,
    "category": "Pizza",
    "name": "Truffle pizza",
    "size&price": {"M": 250,
                  "L": 370,
                  "XL": 480}},
    {"id": 4,
    "category": "Drink",
    "name": "Coke",
    "size&price": {"S": 20,
                  "M" : 35}},
    {"id": 5,
    "category": "Drink",
    "name": "Pepsi",
    "size&price": {"S": 20,
                  "M": 35}},
    {"id": 6,
    "category": "Drink",
    "name": "Still water",
    "size&price": {"S": 15,
                    "M": 30}}
]

def pizza_hat():
    total_bill = 0
    order_table = {}
    taking_order = True
    print("Welcome to Pizza Hat Restaurant")
    print("Promotion: Get 10% discount if you spend >=1,000 THB üòò")
    print("Here's our menu")
    print(pd.DataFrame(pizza_menu))
    while (taking_order == True):
        order = input("What would you like to eat? write 'id number(1-6)' or 'done': ").lower()
        if (order == 'done'):
            if not order_table:
                print("You didn't order anything. Thank you for visiting")
            else:
                print("\n" + "="*30)
                print("       YOUR RECEIPT üßæ     ")
                print("="*30)
                # ‡∏Ç‡∏±‡πâ‡∏ô‡∏ï‡∏≠‡∏ô‡∏Ñ‡∏¥‡∏î‡πÄ‡∏á‡∏¥‡∏ô
                for name, sizes in order_table.items():
                    for item in pizza_menu: # ‡πÄ‡∏£‡∏≤‡∏ï‡πâ‡∏≠‡∏á‡πÑ‡∏õ‡∏´‡∏≤ 'item' ‡πÉ‡∏ô pizza_menu ‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏ä‡∏∑‡πà‡∏≠‡∏ï‡∏£‡∏á‡∏Å‡∏±‡∏ö name ‡∏Å‡πà‡∏≠‡∏ô
                        if item["name"] == name:
                            for size, item_amount in sizes.items():
                                price = item["size&price"][size]
                                subtotal = price * item_amount
                                total_bill += subtotal
                                print(f" {name} ({size}) {price} x {item_amount}: {price * item_amount:,.2f} THB")
                print("-" * 30)
                print(f"Subtotal: {total_bill:,.2f} THB")
                # --- ‡∏™‡πà‡∏ß‡∏ô‡∏•‡∏î 10% ‡πÄ‡∏°‡∏∑‡πà‡∏≠‡∏ã‡∏∑‡πâ‡∏≠‡∏Ñ‡∏£‡∏ö 1,000 ‡∏ö‡∏≤‡∏ó ---
                if total_bill >= 1000:
                    discount = total_bill * 0.10
                    final_price = total_bill - discount
                    print(f"Discount (10%): -{discount} THB")
                else:
                    final_price = total_bill

                print(f"Total amount to pay: {final_price:,.2f} THB")
                print("="*30)
                print("Thank you for your order! üçï")
            taking_order == False
            break
        if not order.isdigit(): # ‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤‡πÉ‡∏™‡πà‡πÄ‡∏•‡∏Ç id ‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏ñ‡∏π‡∏Å‡πÑ‡∏´‡∏°
            print("‚ùå Please enter a valid menu ID number(1-6) or 'done'.")
            continue

        # check_valid_order
        elif (order != 'done'):
            order_id = int(order) # ‡πÅ‡∏õ‡∏•‡∏á‡πÄ‡∏õ‡πá‡∏ô‡∏ï‡∏±‡∏ß‡πÄ‡∏•‡∏Ç
            found = False # ‡∏ï‡∏±‡πâ‡∏á‡∏™‡∏ñ‡∏≤‡∏ô‡∏∞‡∏ß‡πà‡∏≤‡∏¢‡∏±‡∏á‡πÑ‡∏°‡πà‡πÄ‡∏à‡∏≠‡πÄ‡∏°‡∏ô‡∏π
            for item in pizza_menu:
                if item["id"] == order_id:
                    found = True
                    name = item["name"]    # ‡∏î‡∏∂‡∏á‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏°‡∏≤‡πÄ‡∏õ‡πá‡∏ô Key ‡πÉ‡∏ô dict
                    print(f"You choose: {name}")
                    print(f"Available sizes for {name}: {list(item['size&price'].keys())}")
                    while True:  # ‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤‡πÉ‡∏™‡πà‡πÑ‡∏ã‡∏™‡πå‡∏ñ‡∏π‡∏Å‡πÑ‡∏´‡∏°
                        size = input("What size would you like?: ").upper()
                        if size not in item["size&price"]:
                            print("Sorry, this size is not available for this item. please try again!")
                        else:
                            break
                    while True: # ‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤‡∏•‡∏π‡∏Å‡∏Ñ‡πâ‡∏≤‡πÉ‡∏™‡πà‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ñ‡∏π‡∏Å‡πÑ‡∏´‡∏°
                        item_amount = int(input("How many items do you want?: "))
                        if item_amount <= 0:
                            print("Sorry, Please put positive number.")
                        else:
                            break
                    if name not in order_table: # 1. ‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤‡∏°‡∏µ‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡πÉ‡∏ô‡πÇ‡∏ï‡πä‡∏∞‡∏™‡∏±‡πà‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡∏´‡∏¢‡∏±‡∏á
                        order_table[name] = {} # ‡∏ñ‡πâ‡∏≤‡∏¢‡∏±‡∏á‡πÑ‡∏°‡πà‡∏°‡∏µ ‡πÉ‡∏´‡πâ‡∏™‡∏£‡πâ‡∏≤‡∏á Dict ‡∏ß‡πà‡∏≤‡∏á‡∏£‡∏≠‡πÑ‡∏ß‡πâ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡πÄ‡∏Å‡πá‡∏ö‡πÑ‡∏ã‡∏™‡πå
                    if size in order_table[name]: # 2. ‡πÄ‡∏ä‡πá‡∏Ñ‡∏ß‡πà‡∏≤‡∏†‡∏≤‡∏¢‡πÉ‡∏ï‡πâ‡∏ä‡∏∑‡πà‡∏≠‡∏™‡∏¥‡∏ô‡∏Ñ‡πâ‡∏≤‡∏ô‡∏±‡πâ‡∏ô ‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡∏™‡∏±‡πà‡∏á‡πÑ‡∏ã‡∏™‡πå‡∏ô‡∏µ‡πâ‡πÑ‡∏õ‡∏¢‡∏±‡∏á
                        order_table[name][size] += item_amount # ‡∏ñ‡πâ‡∏≤‡πÄ‡∏Ñ‡∏¢‡∏™‡∏±‡πà‡∏á‡πÑ‡∏ã‡∏™‡πå‡∏ô‡∏µ‡πâ‡πÅ‡∏•‡πâ‡∏ß ‡πÉ‡∏´‡πâ‡∏ö‡∏ß‡∏Å‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÄ‡∏û‡∏¥‡πà‡∏°
                    else:
                        order_table[name][size] = item_amount # ‡∏ñ‡πâ‡∏≤‡∏¢‡∏±‡∏á‡πÑ‡∏°‡πà‡πÄ‡∏Ñ‡∏¢‡∏™‡∏±‡πà‡∏á‡πÑ‡∏ã‡∏™‡πå‡∏ô‡∏µ‡πâ ‡πÉ‡∏´‡πâ‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡∏Ñ‡πà‡∏≤‡πÄ‡∏£‡∏¥‡πà‡∏°‡∏ï‡πâ‡∏ô
                    break
            if not found:
                print(f"‚ùå ID {order_id} not found in our menu. Please try again!")

## **Result**

In [32]:
pizza_hat()

Welcome to Pizza Hat Restaurant
Promotion: Get 10% discount if you spend >=1,000 THB üòò
Here's our menu
   id category                 name                       size&price
0   1    Pizza       Hawaiian pizza  {'M': 200, 'L': 300, 'XL': 450}
1   2    Pizza  Double cheese pizza  {'M': 200, 'L': 300, 'XL': 400}
2   3    Pizza        Truffle pizza  {'M': 250, 'L': 370, 'XL': 480}
3   4    Drink                 Coke               {'S': 20, 'M': 35}
4   5    Drink                Pepsi               {'S': 20, 'M': 35}
5   6    Drink          Still water               {'S': 15, 'M': 30}
What would you like to eat? write 'id number(1-6)' or 'done': 1
You choose: Hawaiian pizza
Available sizes for Hawaiian pizza: ['M', 'L', 'XL']
What size would you like?: l
How many items do you want?: 1
What would you like to eat? write 'id number(1-6)' or 'done': 3
You choose: Truffle pizza
Available sizes for Truffle pizza: ['M', 'L', 'XL']
What size would you like?: m
How many items do you want?: 2
What would you like to eat? write 'id number(1-6)' or 'done': 1
You choose: Hawaiian pizza
Available sizes for Hawaiian pizza: ['M', 'L', 'XL']
What size would you like?: l
How many items do you want?: 2
What would you like to eat? write 'id number(1-6)' or 'done': 4
You choose: Coke
Available sizes for Coke: ['S', 'M']
What size would you like?: m
How many items do you want?: 8
What would you like to eat? write 'id number(1-6)' or 'done': done

==============================
       YOUR RECEIPT üßæ
==============================
 Hawaiian pizza (L) 300 x 3: 900.00 THB
 Truffle pizza (M) 250 x 2: 500.00 THB
 Coke (M) 35 x 8: 280.00 THB
------------------------------
Subtotal: 1,680.00 THB
Discount (10%): -168.0 THB
Total amount to pay: 1,512.00 THB
==============================
Thank you for your order! üçï

## ‡∏Å‡∏£‡∏∞‡∏î‡∏≤‡∏©‡∏ó‡∏î

In [8]:
pd.DataFrame(pizza_menu)

   id category                 name                       size&price
0   1    Pizza       Hawaiian pizza  {'M': 200, 'L': 300, 'XL': 450}
1   2    Pizza  Double cheese pizza  {'M': 200, 'L': 300, 'XL': 400}
2   3    Pizza        Truffle pizza  {'M': 250, 'L': 370, 'XL': 480}
3   4    Drink                 Coke               {'S': 20, 'M': 35}
4   5    Drink                Pepsi               {'S': 20, 'M': 35}
5   6    Drink          Still water               {'S': 15, 'M': 30}

In [1]:
pizza_menu = [
    {"id": 1,
    "category": "Pizza",
    "name": "Hawaiian pizza",
    "size&price":{"M": 200,
                  "L": 300,
                  "XL": 450}},
    {"id": 2,
    "category": "Pizza",
    "name": "Double cheese pizza",
    "size&price": {"M": 200,
                  "L": 300,
                  "XL": 400}},
    {"id": 3,
     "category": "Pizza",
    "name": "Truffle pizza",
    "size&price": {"M": 250,
                  "L": 370,
                  "XL": 480}},
    {"id": 4,
     "category": "Drink",
    "name": "Coke",
    "size&price": {"Can": 20,
                  "Bottle" : 35}},
    {"id": 5,
     "category": "Drink",
    "name": "Pepsi",
    "size&price": {"Can": 20,
                  "Bottle": 35}},
    {"id": 6,
     "category": "Drink",
    "name": "Still water",
    "size&price": {"Small": 15,
                    "Large": 30}}
]

In [ ]:
pizza_menu

[{'id': 1,
  'category': 'Pizza',
  'name': 'Hawaiian pizza',
  'size&price': {'M': 200, 'L': 300, 'XL': 450}},
 {'id': 2,
  'category': 'Pizza',
  'name': 'Double cheese pizza',
  'size&price': {'M': 200, 'L': 300, 'XL': 400}},
 {'id': 3,
  'category': 'Pizza',
  'name': 'Truffle pizza',
  'size&price': {'M': 250, 'L': 370, 'XL': 480}},
 {'id': 4,
  'category': 'Drink',
  'name': 'Coke',
  'size&price': {'Can': 20, 'Bottle': 35}},
 {'id': 5,
  'category': 'Drink',
  'name': 'Pepsi',
  'size&price': {'Can': 20, 'Bottle': 35}},
 {'id': 6,
  'category': 'Drink',
  'name': 'Still water',
  'size&price': {'Small': 15, 'Large': 30}}]

In [4]:

pd.DataFrame(pizza_menu)

   id category                 name                       size&price
0   1    Pizza       Hawaiian pizza  {'M': 200, 'L': 300, 'XL': 450}
1   2    Pizza  Double cheese pizza  {'M': 200, 'L': 300, 'XL': 400}
2   3    Pizza        Truffle pizza  {'M': 250, 'L': 370, 'XL': 480}
3   4    Drink                 Coke               {'S': 20, 'M': 35}
4   5    Drink                Pepsi               {'S': 20, 'M': 35}
5   6    Drink          Still water               {'S': 15, 'M': 30}

In [ ]:
# count category
count_pizza = 0
count_drink = 0
for pizza in pizza_menu:
    if pizza["category"] == "Pizza":
        count_pizza +=1
    else:
        count_drink +=1

print(count_pizza)
print(count_drink)

3
3

In [ ]:
category_counts = {"Pizza": 3, "Drink": 3}

In [ ]:
category_counts

{'Pizza': 3, 'Drink': 3}

In [ ]:
#  count orders
orders = ["Pizza", "Pizza", "Drink", "Pizza", "Drink"]
summary = {}

for order in orders:
    if order in summary:
        # ‡∏ñ‡πâ‡∏≤‡∏°‡∏µ‡∏ä‡∏∑‡πà‡∏≠‡∏ô‡∏µ‡πâ‡∏≠‡∏¢‡∏π‡πà‡πÉ‡∏ô summary ‡πÅ‡∏•‡πâ‡∏ß ‡πÉ‡∏´‡πâ‡∏ö‡∏ß‡∏Å‡πÄ‡∏û‡∏¥‡πà‡∏°‡∏≠‡∏µ‡∏Å 1
        summary[order] += 1
    else:
        # ‡∏ñ‡πâ‡∏≤‡∏¢‡∏±‡∏á‡πÑ‡∏°‡πà‡∏°‡∏µ (‡πÄ‡∏à‡∏≠‡∏Ñ‡∏£‡∏±‡πâ‡∏á‡πÅ‡∏£‡∏Å) ‡πÉ‡∏´‡πâ‡∏™‡∏£‡πâ‡∏≤‡∏á Key ‡∏ô‡∏±‡πâ‡∏ô‡∏Ç‡∏∂‡πâ‡∏ô‡∏°‡∏≤‡πÅ‡∏•‡∏∞‡∏Å‡∏≥‡∏´‡∏ô‡∏î‡∏Ñ‡πà‡∏≤‡πÄ‡∏£‡∏¥‡πà‡∏°‡∏ï‡πâ‡∏ô‡πÄ‡∏õ‡πá‡∏ô 1
        summary[order] = 1

print(summary)

{'Pizza': 3, 'Drink': 2}

In [ ]:
pizza_menu_by_cat = {
    "Pizza": [
        {"id": 1, "name": "Hawaiian pizza", "size&price": {'M': 200, 'L': 300, 'XL': 450}},
        {"id": 2, "name": "Double cheese pizza", "size&price":{'M': 200, 'L': 300, 'XL': 400}},
        {"id": 3, "name": "Truffle pizza", "size&price": {'M': 250, 'L': 370, 'XL': 480}},
    ],
    "Drink": [
        {"id": 4, "name": "Coke", "size&price": {'Can': 20, 'Bottle': 35}},
        {"id": 5, "name": "Pepsi", "size&price": {'Can': 20, 'Bottle': 35}},
        {"id": 5, "name": "Still water", "size&price": {'Small': 15, 'Large': 30}}
    ]
}

In [ ]:
pd.DataFrame(pizza_menu_by_cat)

,Pizza,Drink
0,"{'id': 1, 'name': 'Hawaiian pizza', 'size&pric...","{'id': 4, 'name': 'Coke', 'size&price': {'Can'..."
1,"{'id': 2, 'name': 'Double cheese pizza', 'size...","{'id': 5, 'name': 'Pepsi', 'size&price': {'Can..."
2,"{'id': 3, 'name': 'Truffle pizza', 'size&price...","{'id': 5, 'name': 'Still water', 'size&price':..."

In [ ]:
pizza_menu_by_cat["Pizza"]

[{'id': 1,
  'name': 'Hawaiian pizza',
  'size&price': {'M': 200, 'L': 300, 'XL': 450}},
 {'id': 2,
  'name': 'Double cheese pizza',
  'size&price': {'M': 200, 'L': 300, 'XL': 400}},
 {'id': 3,
  'name': 'Truffle pizza',
  'size&price': {'M': 250, 'L': 370, 'XL': 480}}]

In [ ]:
count = 0
for i in pizza_menu:
    result = pizza_menu.count('Pizza')
    print (f"Category pizza", {result})

Category pizza {0}
Category pizza {0}
Category pizza {0}
Category pizza {0}
Category pizza {0}
Category pizza {0}

In [ ]:
test_dict = {"a": 1, "a": 2, "a": 3}
print(test_dict)

{'a': 3}